@import url("./styling/normalization.css");
@import url("./styling/utility-classes.css");

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

/* Screen Sizes:
    sm: < 640px
    lg: > 640px
*/

:root {
    --primary-color: rgb(78, 55, 151);
    --secondary-color: rgb(84, 187, 189);
    --secondary-color-low: rgba(84, 187, 189, 0.8);
    --thirdly-color: rgb(143 211 147) ;

    --main-dark-color: rgb(0, 0, 0);
    --secondary-dark-color: rgb(52, 57, 70);
    
    --main-light-color: rgb(255, 255, 255);
    --secondary-light-color: rgb(177, 186, 200);

    --main-font: "IBM Plex Sans Arabic", sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-96: 6rem; /* 96px */
    --fs-60: 3.75rem;
    --fs-48: 3rem; /* 48px */
    --fs-: 1.875rem; /* 96px */
    --fs-36: 2.25rem; /* 36px */
    --fs-30: 1.875rem; /* 30px */
    --fs-28: 1.75rem; /* 30px */
    --fs-24: 1.5rem; /* 24px */
    --fs-20: 1.25rem; /* 20px */
    --fs-18: 1.125rem; /* 18px */
    --fs-16: 1rem; /* 16px */
    --fs-14: 0.875rem; /* 14px */

    --size-88: 5.5rem;
    --size-36: 2.25rem; /* 30px */
    --size-30: 1.875rem; /* 30px */
    --size-28: 1.75rem;
    --size-24: 1.5rem;
    --size-18: 1.125rem;
    --size-16: 1rem;
    --size-12: 0.75rem;
    --size-10: 0.625rem;
    --size-8: 0.5rem;
    --size-6: 0.375rem;
    --size-4: 0.25rem;
    --size-2: 0.124rem;
    --size-1: 0.063rem;

    --container-max-width: 1300px;
    --container-y-padding: 56px;
    --container-x-padding: 20px;

    --transition: all 0.3s ease-in-out;
}

html {
    font-size: 16px;
}

/* @media (max-width:640px) {
    html {
        font-size: 16px;
    }
} */

body, html, .main {
    width: 100%;
    height: 100vh;
}

body {
    font-family: var(--main-font);
    text-align: right;
}