@import url("../../index.css");

/* Main */
.section-container {
    max-width: var(--container-max-width);
    margin-right: auto;
    margin-left: auto;
}


/* Header */
.header {
    height: auto;
    padding: var(--size-16) var(--container-x-padding);
    /* box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.3); */
    /* background-color: red; */
    /* position: fixed; */
    top: 0;
    width: 100%;
}

.header .section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--main-light-color);
}

.desktop-navbar,
.desktop-log-in,
.mobile-navbar {
    display: none;
}

.hamburger-menu-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-6);
    padding: var(--size-10) var(--size-12);
    border-radius: var(--size-4);
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.hamburger-line {
    height: 2px;
    width: var(--size-24);
    background-color: var(--primary-color);
}

.mobile-navbar__link,
.desktop-navbar__link {
    font-size: var(--fs-18);
    font-weight: var(--fw-medium);
}


.logo-container,
.logo-image {
    max-width: 148px;
}



@media (min-width:640px) {
    .mobile-navbar,
    .hamburger-menu-container {
        display: none;
    }
    .desktop-log-in {
        display: flex;
        align-items: center;
        gap: var(--size-4);
        color: rgb(87, 227, 216);
        background-color: var(--primary-color);
        padding: var(--size-8) var(--size-16);
        font-weight: var(--fw-medium);
        font-size: var(--fs-16);
        border-radius: var(--size-6);
    }

    .desktop-navbar__list {
        display: flex;
        gap: var(--size-12);
    }

    .desktop-navbar {
        display: flex;
    }
}


/* Hero */
.hero {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .section-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
}

.hero-video {
    max-width: 100%;
    border-radius: var(--size-12);
}


.hero-numbers-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
    width: 100%;

}

.hero-people-numbers {
    display: flex;
    gap: var(--size-24);
}


.faculty-numbers,
.students-numbers,
.program-numbers {
    width: 100%;
    padding: var(--size-24);
    border-radius: var(--size-12);
    position: relative;
    overflow: hidden;
}

.number-title {
    font-weight: var(--fw-regular);
}

.number-type {
    color: rgb(156, 156, 156);
    font-size: var(--fs-18);
    margin-bottom: var(--size-10);
}

.faculty-numbers {
    background-color: rgb(211, 245, 213);
}

.students-numbers {
    background-color: rgb(190, 217, 255);
}

.program-numbers {
    background-color: rgb(231, 221, 255);
}

.faculty-number,
.students-number,
.program-number {
    font-size: var(--fs-30);
    font-weight: var(--fw-bold);
}

.faculty-number {
    color: rgb(143, 211, 147);
}

.students-number {
    color: rgb(92, 144, 216);
}

.program-number {
    color: rgb(100, 51, 211);
}

.faculty-icon-container,
.students-icon-container,
.program-icon-container {
    position: absolute;
    bottom: 0;
}

.faculty-icon-container {
    bottom: -10px;
    left: -10px;
}

.students-icon-container {
    bottom: -20px;
    left: 0;
}


@media (min-width:640px) {
    
    .hero .section-container {
        flex-direction: row-reverse;
    }
    .hero-video {
        max-width: 60%;
    }

    .hero-numbers-container {
        width: 40%;
    }

    .number-type {
        margin-bottom: 30px;
    }
}


/* About */
.about {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
    background-color: rgb(245, 245, 247);
}

.about .section-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-36);
}

.about-title {
    font-size: var(--fs-30);
}

.about-paragraph {
    color: rgb(124, 124, 124);
}

@media (min-width:640px) {
    .about-title {
        font-size: var(--fs-60);
    }
    
    .about-paragraph {
        font-size: var(--fs-24);
    }
}

/* Offers */
.offers {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
}

.offers .section-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-36);
}

.offers-inner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-36);
}

.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: var(--size-36);
    background-color: rgb(249, 250, 251);
    padding: var(--size-30);
    border: 1px solid rgb(234, 236, 240);
    border-radius: var(--size-10);
}

.offer-icon-container {
    display: flex;
    justify-content: center;
}

.offer-icon {
    width: 72px;
    height: 72px;
}

.offer-title {
    font-size: var(--fs-20);
}

.yellow-offer-title,
.yellow-offer-icon {
    color: rgb(255, 219, 94);
}

.red-offer-title,
.red-offer-icon {
    color: rgb(255, 129, 129);
}

.orange-offer-title,
.orange-offer-icon {
    color: rgb(245, 166, 100);
}

.blue-offer-title,
.blue-offer-icon {
    color: rgb(77, 150, 255);
}

.green-offer-title,
.green-offer-icon {
    color: rgb(164, 128, 255);
}

.purple-offer-title,
.purple-offer-icon {
    color: rgb(128, 216, 131);
}

@media (min-width:640px) {
    .offers-title {
        font-size: var(--fs-60);
    }

    .offers-inner-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .offer-container {
        text-align: right;
    }

    .offer-icon-container {
        justify-content: flex-end;
    }

    .offer-title {
        font-size: var(--fs-30);
    }
}


/* Competitions */
.competitions {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
    background-color: rgb(245, 245, 247);
}

.competitions .section-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-36);
}

.competitions-inner-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--size-30);
}

.competition-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-48);
    background-color: var(--main-light-color);
    padding: var(--size-30);
    border-radius: var(--size-10);
}

.competitions-title {
    font-size: var(--fs-30);
}

.competition-title {
    font-size: var(--fs-18);
    font-weight: var(--fw-medium);
}

.competition-result {
    font-size: var(--fs-16);
    font-weight: 300;
}

.competition-icon-container {
    display: flex;
    justify-content: flex-end;
}

.competition-icon {
    width: 72px;
    height: 72px;
    color: rgb(245, 229, 152);
}

@media (min-width:640px) {
    .competitions-inner-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .competitions-title {
        font-size: var(--fs-60);
        font-weight: var(--fw-bold);
    }

    .competition-title {
        font-size: var(--fs-24);
    }

    .competition-result {
        font-size: var(--fs-18);
    }
}

/* Location */
.location {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
    background-color: var(--main-light-color);
}

.location .section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: var(--size-24);
    gap: var(--size-36);
    background-color: rgb(243, 248, 255);
    padding: var(--size-30);
    border-radius: var(--size-10);
}

.location-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-48);
}

.location-title {
    font-size: var(--fs-20);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--size-18);
}


.location-icon {
    color: rgb(88, 131, 191);
    width: 48px;
    height: 48px;
}

.location-info {
    font-size: var(--fs-12);
    color: rgb(137, 137, 137);
}

.location-live-container {  
    max-width: 500px;  
    min-width: 200px;
    width: 100%;  
    border-radius: var(--size-10);  
    overflow: hidden;  
}  

.location-live {  
    width: 100%;  
    height: 100%;  
    aspect-ratio: 16 / 9;  
    border: none;  
    border-radius: var(--size-10);  
}   

@media (min-width:640px) {
    .location .section-container {
        flex-direction: row-reverse;
        align-items: center;
    }
    .location-title {
        font-size: var(--fs-36);
    }

    .location-info {
        font-size: var(--fs-18);
    }
}

/* Footer */
.footer {
    padding: var(--container-y-padding) var(--container-x-padding);
    padding-bottom: 0;
    height: auto;
}

.footer .section-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-36);
    background-color: rgb(231, 221, 255);
    border-radius: var(--size-24);
    padding: var(--size-16);
}


.footer-inner-container-1 {
    padding-bottom: var(--size-30);
    border-bottom: 1px solid rgb(234, 236, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.footer-logo-container {
    max-width: 200px;
}

.footer-navbar {
    display: flex;
    justify-content: center;
    gap: var(--size-88);
}
.footer-navbar-link {
    color: rgb(79, 41, 183);
    font-weight: var(--fw-medium);
    transition: var(--transition);
}

.footer-navbar-link:hover {
    text-decoration: underline;
}

.footer-inner-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: var(--size-24);
}

.social-links-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-24);
}

.social-item {
    background-color: rgb(79, 41, 183);
    padding: var(--size-8);
    border-radius: var(--size-16);
}

.copy-right {
    color: rgb(79, 41, 183);
    font-size: var(--fs-14);
}


@media (min-width:640px) {
    .footer .section-container {
        padding-right: var(--size-88);
        padding-left: var(--size-88);
    }

    
    .footer-inner-container-1 {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .footer-inner-container-2 {
        flex-direction: row;
        justify-content: space-between;
    }
}