@import url("../index.css");

/* Main */
.section-container {
    max-width: var(--container-max-width);
    margin-right: auto;
    margin-left: auto;
}

.hero {
    height: auto;
    padding: var(--container-y-padding) var(--container-x-padding);
}



/*  */
.desktop-navbar,
.desktop-log-in,
.mobile-navbar {
    display: none;
}

/* header */
.header {
    height: auto;
    padding: var(--size-16) var(--container-x-padding);
    /* box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.3); */
    position: fixed;
    top: 0;
    width: 100%;
}

.header .section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-light-color);
}

.logo-container,
.logo-image {
    max-width: 148px;
}

.lang-ham-container {
    display: flex;
    align-items: center;
    gap: var(--size-8);
}

.hamburger-menu-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
    padding: var(--size-10) var(--size-12);
    border: 1px solid var(--main-light-color);
    border-radius: var(--size-4);
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.hamburger-line {
    height: 2px;
    width: var(--size-24);
    background-color: var(--main-light-color);
}

.english-language {
    color: var(--main-light-color);
    font-weight: var(--fw-medium);
    font-size: var(--fs-20);
}

.mobile-navbar__link,
.desktop-navbar__link,
.desktop-log-in,
.english-language {
    transition: var(--transition);
 }

.mobile-navbar__link:hover,
.desktop-navbar__link:hover,
.desktop-log-in:hover,
.english-language:hover {
    color: var(--secondary-color);
}



@media (min-width:640px) {
    .mobile-navbar,
    .hamburger-menu-container {
        display: none;
    }

    .desktop-navbar {
        display: flex;
    }

    .desktop-log-in {
        display: inline-block;
        color: var(--main-light-color);
        font-weight: var(--fw-medium);
    }

    .desktop-navbar__list {
        display: flex;
        gap: var(--size-12);
    }

    .desktop-navbar-logo-container {
        display: flex;
        align-items: center;
        gap: var(--size-24);
    }
    
    .desktop-navbar__link {
        color: var(--main-light-color);
    }    
}


/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(105, 71, 164, 0.7);
    height: 100vh;
    padding: var(--container-y-padding) var(--container-x-padding);
}

.hero-background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .hero-background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .hero-background-video {
        width: auto;
        height: 100%;
    }
}

.hero .section-container {
    text-align: center;
    /* height: 100vh; */
}

.hero-title {
    font-size: var(--fs-28);
    color: var(--main-light-color);
    margin: var(--size-28) 0;
    font-weight: var(--fw-bold);
}

.hero-button {
    color: var(--main-light-color);
    background-color: var(--secondary-color);
    font-size: var(--fs-28);
    font-weight: var(--fw-bold);
    padding: var(--size-8) var(--size-88);
    border-radius: var(--size-88);
}

.hero-button:hover {
    background-color: var(--secondary-color-low);
}

@media (min-width:640px) {
    .hero-title {
        font-size: 60px;
    }

}



/* programs */
.programs {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
    background-color: rgb(242, 244, 247);
    border-bottom: 1px solid rgb(234, 236, 240);
}

.programs .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-36);
}

.programs-section-title {
    color: var(--primary-color);
}    


.programs-sub-container {
    display: grid;
    gap: var(--size-28);
    flex-wrap: wrap;
}


.program-card {
    display: flex;
    flex-direction: column;
    gap: var(--size-28);
    background-color: var(--main-light-color);
    padding: var(--size-16);
    border-radius: var(--size-10);
    text-align: right;
    border-right: var(--size-16) solid var(--secondary-color);
}

.program-header {
    display: flex;
    flex-direction: column;
    gap: var(--size-10);
}

.program-type {
    color: var(--secondary-color);
}


.program-details {
    display: flex;
    justify-content: space-between;
    gap: var(--size-28);
}

.program-location,
.program-time-frame,
.program-date-content,
.program-date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--size-8);
}

.program-date {
    gap: var(--size-36);
}

.program-details-button {
    color: var(--secondary-color);
    padding: var(--size-2) var(--size-28);
    border: 1px solid var(--secondary-color);
    border-radius: var(--size-28);
    transition: var(--transition);
}

.program-details-button:hover {
    background-color: var(--secondary-color);
    color: var(--main-light-color);
}

.more-programs-button {
    color: var(--primary-color);
    padding: var(--size-6) var(--size-30);
    border: 1px solid var(--primary-color);
    border-radius: var(--size-28);
    transition: var(--transition);
}

.more-programs-button:hover {
    background-color: var(--primary-color);
    color: var(--main-light-color);
}

.highlighted-program .program-type {
    color: var(--thirdly-color);
}

.highlighted-program {
    border-right-color: var(--thirdly-color);
}

.highlighted-program .program-details-button {
    color: var(--thirdly-color);
    border-color: var(--thirdly-color);
}

.highlighted-program .program-details-button:hover {
    background-color: var(--thirdly-color);
    color: var(--main-light-color);
}

@media (min-width:640px) {
    .programs-sub-container {
        grid-template-columns: repeat(3, auto);
    }
}

/* Numbers */
.numbers {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
}

.numbers .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-48);
}

.numbers-title {
    color: var(--primary-color);
    font-size: var(--fs-30);
}

.numbers-sub-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--size-36);
}

.number-conatiner {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
    padding: var(--size-28) var(--size-30);
    border-radius: var(--size-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--size-24);
    min-width: 280px;
}

.number-icon {
    background-color: var(--secondary-color);
    padding: var(--size-24);
    width: var(--size-88);
    height: var(--size-88);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.number-title {
    color: var(--secondary-color);
    font-size: var(--fs-24);
}

.number-stat {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
    font-size: var(--fs-48);
}

.numbers-more-button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: var(--size-10) var(--size-30);
    border-radius: var(--size-28);
    transition: var(--transition);
}

.numbers-more-button:hover {
    background-color: var(--primary-color);
    color: var(--main-light-color);
}


/* Activities */
.activities {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
    background-color: var(--primary-color);
}

.activities .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-48);
}

.activities-title {
    color: var(--main-light-color);
    font-size: var(--fs-30);
}

.activities-sub-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--size-36);
}

.activity-container {
    padding: var(--size-28) var(--size-28);
    border-radius: var(--size-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--size-48);
    background-color: var(--main-light-color);
}

.activity-title {
    color: var(--secondary-color);
    font-size: var(--fs-30);
    font-weight: var(--fw-medium);
}

.activity-paragraph {
    font-size: var(--fs-20);
    max-width: 18ch;
}

.activity-button {
    margin-top: var(--size-48);
    background-color: var(--primary-color);
    color: var(--main-light-color);
    font-size: var(--fs-20);
    font-weight: var(--fw-bold);
    padding: var(--size-8) var(--size-30);
    width: 100%;
    border-radius: var(--size-30);
    border: 1px solid var(--primary-color);
    transition: var(--transition);
}

.activity-button:hover {
    background-color: var(--main-light-color);
    color: var(--primary-color);
}

/* News */
.news {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
}

.news .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-48);
}

.news-title {
    font-size: var(--fs-30);
    color: var(--primary-color);
}

.news-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--size-48);
}

.highlighted-news-now-container {
    display: flex;
    flex-direction: column;
}

.highlighted-news-image-container {
    background-image: url("../assets/pages/home/news/highlighted-news.jpg");  
    background-size: cover;
    background-position: top;
    max-height: 400px;
    width: 100%; 
    height: auto;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-top-left-radius: var(--size-10);
    border-top-right-radius: var(--size-10);
}

.science {
    background-color: var(--thirdly-light-color);
    padding: var(--size-24);
    padding-bottom: var(--size-36);
    align-self: flex-end;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
}

.science-type {
    color: var(--secondary-color);
}

.science-title {
    font-size: var(--fs-20);
    font-weight: var(--fw-bold);
    margin-bottom: var(--size-8);
}

.science-paragraph-more {
    text-decoration: underline;
    font-weight: var(--fw-medium);
    transition: var(--transition);
}

.science-paragraph-more:hover {
    color: var(--secondary-color);
}

.highlighted-news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-24);
}

.highlighted-news-main-title {
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--size-24);
}

.highlighted-news-inner-container {
    overflow-y: scroll;
    max-height: 600px;
    direction: rtl;
}

.highlighted-news {
    display: inline-block;
    border-bottom: 1px solid var(--main-dark-color);
    transform: var(--transition);
    padding-top: var(--size-4);
    padding-bottom: var(--size-24);
}

.highlighted-news:hover {
    color: var(--primary-color);
}

.highlighted-news-title {
    font-size: var(--size-18);
    font-weight: var(--fw-medium);
}

.highlighted-news-date {
    color: var(--secondary-light-color);
}

.highlighted-news-button {
    max-width: fit-content;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: var(--size-10) var(--size-30);
    border-radius: var(--size-30);
    transition: var(--transition);
}

.highlighted-news-button:hover {
    background-color: var(--primary-color);
    color: var(--main-light-color);

}

@media (min-width:640px) {
    .news-content-container {
        flex-direction: row-reverse;
    }

    .highlighted-news-container {
        max-width: 40%;
    }

    .science {
        max-width: 60%;
    }
    .science::before {
        content: "";
        position: absolute;
        top: 0;
        left: -120px;
        width: 120px;
        height: 80px;
        background-color: var(--primary-color);
    }
}