@import url("../index.css");

/* Main */
.section-container {
    max-width: var(--container-max-width);
    margin-right: auto;
    margin-left: auto;
}

.hero {
    height: auto;
    padding: var(--container-y-padding) var(--container-x-padding);
}

/* header */
.header {
    height: auto;
    padding: var(--size-16) var(--container-x-padding);
    /* box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.3); */
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: var(--size-30); */
}

.header .section-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-light-color);
}

/*  */
.desktop-navbar,
.desktop-log-in,
.mobile-navbar {
    display: none;
}

.mobile-navbar {
    display: none;
    width: 100px;
    position: absolute;  
    top: 60px;
    left: 0;  
    width: 100%;
    background-color: white;
}
.mobile-navbar__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--size-4);
}

.mobile-navbar__link {
    color: rgb(152, 162, 179);
    
    font-size: var(--fs-18);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--size-18);
    padding: var(--size-18);
}

.mobile-navbar__link-log-in {
    border-top: 1px solid rgb(178, 166, 166);
}

.mobile-navbar__link:hover .mobile-navbar__link-icon {
    color: #000;
}

.logo-container,
.logo-image {
    max-width: 148px;
}

.lang-ham-container {
    display: flex;
    align-items: center;
    gap: var(--size-8);
}

.hamburger-menu-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
    padding: var(--size-10) var(--size-12);
    border: 1px solid var(--main-light-color);
    border-radius: var(--size-4);
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.hamburger-line {
    height: 2px;
    width: var(--size-24);
    background-color: var(--main-light-color);
}


.menu-toggle {  
    display: none;  
}  

.menu-toggle:checked ~ .mobile-navbar {  
    display: block; 
}

.menu-toggle:checked ~ .hamburger-menu-container  {
    border-color: #000;
}

.menu-toggle:checked ~ .hamburger-menu-container .hamburger-line {
    background-color: black;
}

.menu-toggle:checked ~ .english-language {
    color: #000;
}

.english-language {
    color: var(--main-light-color);
    font-weight: var(--fw-medium);
    font-size: var(--fs-20);
}

.mobile-navbar__link,
.desktop-navbar__link,
.desktop-log-in,
.english-language {
    transition: var(--transition);
}

.mobile-navbar__link:hover,
.desktop-navbar__link:hover,
.desktop-log-in:hover,
.english-language:hover {
    color: var(--secondary-color);
}



@media (min-width:740px) {
    .mobile-navbar,
    .hamburger-menu-container {
        display: none;
    }

    .desktop-navbar {
        display: flex;
    }

    .desktop-log-in {
        display: inline-block;
        color: var(--main-light-color);
        font-weight: var(--fw-medium);
        font-size: var(--fs-20);
    }

    .desktop-navbar__list {
        display: flex;
        gap: var(--size-12);
    }

    .desktop-navbar-logo-container {
        display: flex;
        align-items: center;
        gap: var(--size-24);
    }
    
    .desktop-navbar__link {
        color: var(--main-light-color);
    }    
}


/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom right, rgba(84, 187, 189, 0.6), rgba(105, 71, 164, 0.7)); */
    background-image: linear-gradient(135.52deg, rgba(84, 187, 189, 0.5) 24.77%, rgba(105, 71, 164, 0.7) 67.54%, rgba(113, 150, 255, 0.71) 113.23%, rgba(217, 217, 217, 0) 137.24%);
    /* background-image: linear-gradient(rgba(105, 71, 164, 0.39) 0%, rgba(23, 23, 23, 0.39) 100%); */
    height: 100vh;
    padding: var(--container-y-padding) var(--container-x-padding);
}

.hero-background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .hero-background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .hero-background-video {
        width: auto;
        height: 100%;
    }
}

.hero .section-container {
    text-align: center;
    /* height: 100vh; */
}

.hero-title {
    font-size: var(--fs-28);
    color: var(--main-light-color);
    margin: var(--size-28) 0;
    font-weight: var(--fw-bold);
}

.hero-button {
    color: var(--main-light-color);
    background-color: var(--secondary-color);
    font-size: var(--fs-28);
    font-weight: var(--fw-bold);
    padding: var(--size-8) var(--size-88);
    border-radius: var(--size-88);
    transition: var(--transition);
}

.hero-button:hover {
    background-color: var(--secondary-color-low);
}

@media (min-width:740px) {
    .hero-title {
        font-size: 60px;
    }

}



/* programs */
.programs {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
    background-color: rgb(242, 244, 247);
    border-bottom: 1px solid rgb(234, 236, 240);
}

.programs .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-36);
}

.programs-section-title {
    color: var(--primary-color);
}    


.programs-sub-container {
    display: flex;
    justify-content: center;
    gap: var(--size-28);
    flex-wrap: wrap;
}


.program-card {
    display: flex;
    flex-direction: column;
    gap: var(--size-28);
    background-color: var(--main-light-color);
    padding: var(--size-16);
    border-radius: var(--size-10);
    text-align: right;
    border-right: var(--size-16) solid var(--secondary-color);
}

.program-header {
    display: flex;
    flex-direction: column;
    gap: var(--size-10);
}

.program-type {
    color: var(--secondary-color);
}


.program-details {
    display: flex;
    justify-content: space-between;
    gap: var(--size-28);
}

.program-location,
.program-time-frame,
.program-date-content,
.program-date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--size-8);
}

.program-date {
    gap: var(--size-36);
}

.program-details-button {
    color: var(--secondary-color);
    padding: var(--size-2) var(--size-28);
    border: 1px solid var(--secondary-color);
    border-radius: var(--size-28);
    transition: var(--transition);
}

.program-details-button:hover {
    background-color: var(--secondary-color);
    color: var(--main-light-color);
}

.more-programs-button {
    color: var(--primary-color);
    padding: var(--size-6) var(--size-30);
    border: 1px solid var(--primary-color);
    border-radius: var(--size-28);
    transition: var(--transition);
}

.more-programs-button:hover {
    background-color: var(--primary-color);
    color: var(--main-light-color);
}

.highlighted-program .program-type {
    color: var(--thirdly-color);
}

.highlighted-program {
    border-right-color: var(--thirdly-color);
}

.highlighted-program .program-details-button {
    color: var(--thirdly-color);
    border-color: var(--thirdly-color);
}

.highlighted-program .program-details-button:hover {
    background-color: var(--thirdly-color);
    color: var(--main-light-color);
}

@media (min-width:740px) {
    .programs-sub-container {
        flex-direction: row-reverse;
    }
}

/* Numbers */
.numbers {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
}

.numbers .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-48);
}

.numbers-title {
    color: var(--primary-color);
    font-size: var(--fs-30);
}

.numbers-sub-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--size-36);
}

.number-conatiner {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
    padding: var(--size-28) var(--size-30);
    border-radius: var(--size-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--size-24);
    min-width: 280px;
}

.number-icon {
    background-color: var(--secondary-color);
    padding: var(--size-24);
    width: var(--size-88);
    height: var(--size-88);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.number-title {
    color: var(--secondary-color);
    font-size: var(--fs-24);
}

.number-stat {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
    font-size: var(--fs-48);
}

.numbers-more-button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: var(--size-10) var(--size-30);
    border-radius: var(--size-28);
    transition: var(--transition);
}

.numbers-more-button:hover {
    background-color: var(--primary-color);
    color: var(--main-light-color);
}


/* Activities */
.activities {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
    background-color: var(--primary-color);
}

.activities .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-48);
}

.activities-title {
    color: var(--main-light-color);
    font-size: var(--fs-30);
}

.activities-sub-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--size-36);
}

.activity-container {
    padding: var(--size-28) var(--size-28);
    border-radius: var(--size-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--size-48);
    background-color: var(--main-light-color);
}

.activity-title {
    color: var(--secondary-color);
    font-size: var(--fs-30);
    font-weight: var(--fw-medium);
}

.activity-paragraph {
    font-size: var(--fs-20);
    max-width: 18ch;
}

.activity-button {
    margin-top: var(--size-48);
    background-color: var(--primary-color);
    color: var(--main-light-color);
    font-size: var(--fs-20);
    font-weight: var(--fw-bold);
    padding: var(--size-8) var(--size-30);
    width: 100%;
    border-radius: var(--size-30);
    border: 1px solid var(--primary-color);
    transition: var(--transition);
}

.activity-button:hover {
    background-color: var(--main-light-color);
    color: var(--primary-color);
}

/* News */
.news {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
}

.news .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-48);
}

.news-title {
    font-size: var(--fs-30);
    color: var(--primary-color);
}

.news-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--size-48);
}

.highlighted-news-now-container {
    display: flex;
    flex-direction: column;
}

.highlighted-news-image-container {
    background-image: url("../assets/pages/home/news/highlighted-news.jpg");  
    background-size: cover;
    background-position: top;
    max-height: 400px;
    width: 100%; 
    height: auto;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-top-left-radius: var(--size-10);
    border-top-right-radius: var(--size-10);
}

.science {
    background-color: var(--thirdly-light-color);
    padding: var(--size-24);
    padding-bottom: var(--size-36);
    align-self: flex-end;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
}

.science-type {
    color: var(--secondary-color);
}

.science-title {
    font-size: var(--fs-20);
    font-weight: var(--fw-bold);
    margin-bottom: var(--size-8);
}

.science-paragraph-more {
    text-decoration: underline;
    font-weight: var(--fw-medium);
    transition: var(--transition);
}

.science-paragraph-more:hover {
    color: var(--secondary-color);
}

.highlighted-news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-24);
}

.highlighted-news-main-title {
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--size-24);
}

.highlighted-news-inner-container {
    overflow-y: scroll;
    max-height: 600px;
    direction: rtl;
}

.highlighted-news {
    display: inline-block;
    border-bottom: 1px solid var(--main-dark-color);
    transform: var(--transition);
    padding-top: var(--size-4);
    padding-bottom: var(--size-24);
}

.highlighted-news:hover {
    color: var(--primary-color);
}

.highlighted-news-title {
    font-size: var(--size-18);
    font-weight: var(--fw-medium);
}

.highlighted-news-date {
    color: var(--secondary-light-color);
}

.highlighted-news-button {
    max-width: fit-content;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: var(--size-10) var(--size-30);
    border-radius: var(--size-30);
    transition: var(--transition);
}

.highlighted-news-button:hover {
    background-color: var(--primary-color);
    color: var(--main-light-color);

}

@media (min-width:740px) {
    .news-content-container {
        flex-direction: row-reverse;
    }

    .highlighted-news-container {
        max-width: 40%;
    }

    .science {
        max-width: 60%;
    }
    .science::before {
        content: "";
        position: absolute;
        top: 0;
        left: -120px;
        width: 120px;
        height: 80px;
        background-color: var(--primary-color);
    }
}

/* Partnerships */
.partnerships {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
    background-color: var(--thirdly-light-color);
}

.partnerships .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-48);
}

.partnerships-title {
    color: var(--fs-30);
    color: var(--primary-color);
}

.partnerships-inner-container {
    display: flex;
    justify-content: center;
    gap: var(--size-48);
    flex-wrap: wrap;
}

.partner-logo-container {  
    width: 200px;  
    height: 100px;  
    overflow: hidden;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
}  

.partner-logo {  
    width: 100%;  
    height: auto;  
    object-fit: cover;  
}

/* Newsletter */
.newsletter {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
    background-color: var(--secondary-color);
}

.newsletter .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-48);
}

.newsletter-title {
    color: var(--main-light-color);
    font-size: var(--fs-30);
}

.newsletter-inner-container {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--size-18);
}

.newsletter-button {
    background-color: var(--primary-color);
    color: var(--main-light-color);
    font-size: var(--fs-18);
    font-weight: var(--fw-bold);
    padding: var(--size-8) var(--size-60);
    border-radius: var(--size-16);
    transition: var(--transition);
}

.newsletter-button:hover {
    background-color: rgb(85, 61, 166);
}

.newsletter-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--size-18);
}

.newsletter-input {
    width: 100%;
    padding: var(--size-8) var(--size-8) var(--size-8) var(--size-48);
    border-radius: var(--size-4);
    border-color: transparent;
}

.newsletter-input::placeholder {
    text-align: right;
    font-size: var(--fs-18);
}

@media (min-width:740px) {
    .newsletter-inner-container,
    .newsletter-inputs {
        flex-direction: row;
    }

    .newsletter-inner-container {
        justify-content: space-between;
    }

    .newsletter-button {
        margin-right: var(--size-48);
    }
}

/* Footer */
.footer {
    padding: var(--container-y-padding) var(--container-x-padding);
    height: auto;
    background-color: var(--primary-color);
    color: var(--main-light-color);
}

.footer .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-48);
}

.footer-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--fs-48);
}

.footer-logo-image {
    max-width: 340px;
}

.footer-navbar {
    display: flex;
    justify-content: space-between;
    gap: var(--size-60);
}

.footer-navbar-link {
    color: var(--main-light-color);
    transition: var(--transition);
}

.footer-navbar-link:hover {
    color: var(--secondary-color);
}

.footer-social-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-links-list {
    display: flex;
    gap: var(--size-10);
}

.social-item {
    max-width: 24px;
    transition: var(--transition);
}

.social-item:hover {
    transform: scale(1.2);
}

@media (min-width:740px) {
    .footer-main-container {
        flex-direction: row-reverse;
    }

    .footer-logo-image {
        max-width: 200px;
    }
}